html, body {
  height: 100%;
}

body {
  max-width: 100%;
}

p {
  margin: 0;
}

label {
  margin: 0px;
}

.nav-menu {
  width: 100%;
}

.menu {
  text-align: center; 
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(41,171,226, 0.7);
}

.menu a {
  color: white;
}

.menu a:hover {
  color: white;
}

.content {
  background-image: url('../calle.jpg');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.container-fluid {
  padding: 0;
}

.overlay {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(204,204,204,0.3);
}

.pre-ajustes {
  height: 100%;
}

.ajustes {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 20%;
  color: black;
  font-size: 20px;
  padding: 0px;
}

.ajustes > .row {
  margin: auto;
} 

.ajuste {
  border-style: solid;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 5% 0% 5% 0%;
  background-color: white;
}

.titluo_ajuste {
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/*rgb 41,171,226;*/
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0,212,70);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0,212,70);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
